* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

:root {
  --text-color: #ffff;
  --bg-color: #F8FAE5;
  --second-bg-color: #43766C;
  --main-color: #76453B;
  --other-color: #B19470;
}

body {
  background: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: var(--main-color);
  color: var(--other-color);
}

header .logo {
  font-size: 42px;
  font-weight: 800;
  color: var(--other-color);
}

header .navlist {
  display: flex;
  list-style: none;
}

header .navlist li {
  margin-left: 15px;
}

header .navlist a {
  color: var(--other-color);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.navlist a:hover {
  background: var(--other-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--bg-color);
  transform: scale(1.05);
}

/* Main Content */
main {
  padding: 40px 5%;
  background-color: var(--bg-color);
  min-height: calc(100vh - 130px);
}

.dashboard-container {
  background: var(--other-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.dashboard-container p {
  margin-bottom: 20px;
  color: #666;
}

/* Dashboard Grid */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.dashboard-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.dashboard-card p {
  margin-bottom: 15px;
  color: #555;
  font-size: 16px;
}

.dashboard-card .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.dashboard-card .btn:hover {
  background-color: #555;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: grey;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-content a {
  color: grey;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  gap: 10px;
  color: grey;
}


/* media query*/
@media (max-width: 768px) {
  header .logo {
    font-size: 32px;
  }

  .dashboard-card h3 {
    font-size: 18px;
  }

  .dashboard-card p {
    font-size: 14px;
  }

  .dashboard-card .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
